USER="your_user_name"
PASSWORD="your_password"
HOST="database_host"
PORT="database_port"
TELEGRAM_TOKEN ="token_of_the_telegram_bot"
TELEGRAM_CHAT_ID ="chat_id_with_the_telegram_bot"
TWITTER_KEY = "tw_key"
TWITTER_KEY_SECRET = "tw_key_secret"
TWITTER_BEARER_TOKEN = "tw_b_token"
TWITTER_ACCESS_TOKEN = "tw_a_token"
TWITTER_ACCESS_TOKEN_SECRET = "tw_a_token_secret"